<html>
    <head>
        <title> Senha Incorreta </title>
        <script>
            confirm("Senha Incorreta")
            window.location.replace("/room/<%= roomID %>")
        </script>
    </head>
</html>